.card {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  
  .countContainer {
    color: #A4282E;
    width: 50px;
    height: 50px;
    background-color: #E1DDC6;
    border-radius: 50%;
    text-align: center;
  }
  
  .title {
    color: #59c9cb;
  }
  
  .margin {
    margin: 20px;
  }
  
  .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
  }
  
  .image {
    padding: 10px 0;
  }
  
  .image img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
  }
  
  .noAnyFavorites {
    margin: 30px;
    display: flex;
    font-size: 20px;
    font-family: cursive;
    justify-content: center;
  }